<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="fragments :: page_head('Home - Ecommerce Admin', 'none')" />
	
	<body style="background-color: #c3b4b4;">
		<div class="container-fluid text-center">
			
			<div th:replace="navigation :: menu"></div>
			
			<div class="m-5">
				<h1>Ecommerce Control Panel</h1>	
			</div>
			
			<div>
				<span>Welcome again, <h4 sec:authentication="principal.fullname"></h4></span>	
			</div>
			
		
			<div th:replace="fragments :: footer"></div>
			
		</div>
	
	</body>
</html>